{%  extends 'partials/base.html' %}
{% block title %} resultado da pesquisa  {% endblock %}

{% block content %}
{% include 'form_pesquisar_anotacao.html' %} 
{% include 'partials/menu.html' %}
<h3 class="mb-5 mt-1"> Resultados da pesquisa </h3>
    {% if resultado_pesquisa %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">id Anotação </th>
              <th scope="col">Titulo</th>
              <th scope="col">Mensagem</th>
              <th scope="col">Id usuario</th>
              <th scope="col">Grupo</th>
              <th scope="col">Data </th>
              <th scope="col">Editar</th>
              <th scope="col">Apagar</th>
            </tr>
          </thead>
          <tbody>
    {% for dados_pesquisa in  resultado_pesquisa %}
    <tr>
        <td> {{ dados_pesquisa.id }} </td>
        <td> {{dados_pesquisa.title }} </td>
        <td> {{dados_pesquisa.body }} </td>
        <td> {{dados_pesquisa.fk_pessoa_id }} </td>
        <td> 
          {% if dados_pesquisa.fk_grupo == None%}
           -
          {% else %}
            {{dados_pesquisa.fk_grupo.title}}
          {% endif %}  
        </td>
        <td>
          {{dados_pesquisa.date}}
        </td>
        <td> <a href="{% url 'editar_anotacao' dados_pesquisa.id  %}" title="{{dados_pesquisa.id}}"> Editar  </a> </td>
        <td> <a href="{% url 'deleta_anotação' dados_pesquisa.id %}" title="{{dados_pesquisa.id}}"> Apagar  </a> </td>
       
       
      </tr>
  {% endfor %}
      </tbody>
  </table>
  
  
    {% else %}
    
    
    
    <div class="container"> 
        <p> pesquisa não encontrada</p>
    </div>
  
    {% endif %}


{% endblock %}